# Step 1: Importing Libraries
The keyword 'library' is used to import an external library into the current environment.
Importing a library is simple, use the keyword `import` followed by the library name.
Additionally, we can use the `as` keyword to give the library name an alias.

Execute the cell below to import the numpy and pandas libraries.
Note that we have used `np` and `pd` as the aliases for the libraries to reduce typing effort in subsequent cells.

In [2]:
import numpy as np
import pandas as pd

# Step 2: Creating a Data Frame
The pandas library has built-in methods for creating a Data Frame - a tabular representation of data, with rows as observations and columns as attributes.
The `DataFrame` method takes multiple arguments.
Take the below example for instance, where we have passed 3 parameters:
1. The data for the table (generated using the random module from numpy).
2. The row names.
3. The column names.

In [3]:
# Creating a data frame
df = pd.DataFrame(np.random.randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  0.756629 -0.634405 -0.748179 -0.125818
B  1.458180  0.621940  1.145403  0.992552
C  0.145119 -0.092013  1.216197 -0.019266
D -0.579019 -0.026032 -1.079916 -0.776493
E  0.605028 -0.157888 -0.084669  0.967785

In [4]:
# Grabbing a column
df["W"]

A    0.756629
B    1.458180
C    0.145119
D   -0.579019
E    0.605028
Name: W, dtype: float64

In [5]:
# Each column is a panda series
type(df["W"])

pandas.core.series.Series

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.W

A    0.756629
B    1.458180
C    0.145119
D   -0.579019
E    0.605028
Name: W, dtype: float64

In [8]:
df[["W", "Z"]]

          W         Z
A  0.756629 -0.125818
B  1.458180  0.992552
C  0.145119 -0.019266
D -0.579019 -0.776493
E  0.605028  0.967785

In [9]:
df["new"] = df["W"] + df["Y"]

In [10]:
df

          W         X         Y         Z       new
A  0.756629 -0.634405 -0.748179 -0.125818  0.008450
B  1.458180  0.621940  1.145403  0.992552  2.603583
C  0.145119 -0.092013  1.216197 -0.019266  1.361316
D -0.579019 -0.026032 -1.079916 -0.776493 -1.658935
E  0.605028 -0.157888 -0.084669  0.967785  0.520360

In [11]:
df.drop("new", axis=1, inplace=True)

In [12]:
df

          W         X         Y         Z
A  0.756629 -0.634405 -0.748179 -0.125818
B  1.458180  0.621940  1.145403  0.992552
C  0.145119 -0.092013  1.216197 -0.019266
D -0.579019 -0.026032 -1.079916 -0.776493
E  0.605028 -0.157888 -0.084669  0.967785

In [13]:
df.drop("E", inplace=True)

In [14]:
df

          W         X         Y         Z
A  0.756629 -0.634405 -0.748179 -0.125818
B  1.458180  0.621940  1.145403  0.992552
C  0.145119 -0.092013  1.216197 -0.019266
D -0.579019 -0.026032 -1.079916 -0.776493

In [15]:
df.shape

(4, 4)

In [16]:
df

          W         X         Y         Z
A  0.756629 -0.634405 -0.748179 -0.125818
B  1.458180  0.621940  1.145403  0.992552
C  0.145119 -0.092013  1.216197 -0.019266
D -0.579019 -0.026032 -1.079916 -0.776493

In [17]:
df.loc["A"]

W    0.756629
X   -0.634405
Y   -0.748179
Z   -0.125818
Name: A, dtype: float64

In [18]:
df.iloc[2]

W    0.145119
X   -0.092013
Y    1.216197
Z   -0.019266
Name: C, dtype: float64

In [19]:
df.loc["B","Y"]

1.145403095735577

          W         Y
A  0.756629 -0.748179
B  1.458180  1.145403

In [22]:
df.loc[["A", "B"], ["W", "Y"]]

          W         Y
A  0.756629 -0.748179
B  1.458180  1.145403